@import url(reset.css);

h1{
   color: rgb(0, 0, 180);
}
h1 span{
   color: rgb(210, 210, 6);
}
h2 {
   color: rgb(5, 195, 49);
}
h3 {
   color: rgb(242, 9, 48);
}
header ul h3 {
   color: rgb(240, 125, 9);
}
.information {
   color: rgb(22, 202, 52);
}
.othe-color01 .information,
.othe-color02 .information,
#paragraph01 ~ p {
   color: rgb(49, 9, 9);
}
main div > h2 {
   color: rgb(242, 9, 48);
}
main .blue {
   color: rgb(12, 12, 194);
}
main .blue + span {
   color: rgb(219, 219, 9);
}
[title*="перейти"] {
   color: rgb(117, 24, 164);
}

/* ДОДАТКОВЕ ЗАВДАННЯ */


ul li {
   color: red;
}
ul > li + li {
   color: green;
}
ul > li > ul > li {
   color: blue;
}
ul > li > ul > li + li {
   color: orange;
}
ul > li > ul > li > ol > li {
   color: #4597f7;
}
ul > li > ul > li > ol > li + li {
   color: #5d5d5d;
}
ul > li > ul > li > span {
   color: #a0f0fc;
}