@import url("reset.css");

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   margin: 0 auto;
   max-width: 1230px;
   padding: 0 15px;
}
body {
   font-family: "Montserrat", sans-serif;
   color: #000;
}

/* .....HEADER..... */

.header {
   padding-top: 27px;
   padding-bottom: 25px;
   background-color: #f7decd;
}
.header__block {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}
.header__logo {
   display: flex;
   gap: 6px;
   align-items: center;
}
.header__logo > img {
   margin-right: 2px;
}
.header__logo > strong {
   font-size: 18px;
   line-height: 1.5;
   text-transform: uppercase;
}
.header__menu {
   font-size: 13px;
   font-weight: 500;
   line-height: 1.5;
   text-transform: uppercase;
   display: flex;
   gap: 30px;
}
.header__menu li {
   transition: color 0.4s ease;
}
.header__button {
   color: #fff;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   padding: 8px 30px;
   background-color: #f26522;
   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
   border-radius: 999px;
   display: flex;
   gap: 7px;
   align-items: center;
   transition: color 0.5s ease;
}
.header__button > svg path {
   fill: #fff;
   transition: fill 0.5s ease;
}
.header__button--display-none {
   display: none;
}
.header__burger {
   display: none;
   width: 30px;
   height: 18px;
   position: relative;
}
.header__burger::after,
.header__burger::before {
   content: "";
   width: 100%;
   height: 2px;
   background-color: #000;
   position: absolute;
   left: 0;
   transition: all 0.4s ease;
}
.header__burger > span {
   display: block;
   width: 30px;
   height: 2px;
   background-color: #000;
   position: absolute;
   transform: translateY(-50%);
}
.header__burger::after {
   bottom: 0;
}
.header__burger::before {
   top: 0;
}

@media (any-hover: hover) {
   .header__menu li:hover {
      color: #f26522;
      transition: color 0.4s ease;
   }
   .header__button:hover {
      color: #000;
      transition: color 0.5s ease;
   }
   .header__button:hover svg path {
      fill: #000;
      transition: fill 0.5s ease;
   }
}
@media (max-width: 1005px) {
   .header__menu {
      gap: 15px;
   }
   .header__logo > strong {
      display: none;
   }
   .header__block {
      justify-content: space-evenly;
   }
}

@media (max-width: 803px) {
   .header__menu {
      font-size: 12px;
      gap: 10px;
   }
   .header__block {
      justify-content: space-between;
      gap: 10px;
   }
   .header__button {
      font-size: 14px;
      padding: 6px 15px;
      gap: 5px;
   }
}

@media (max-width: 624px) {
   .header__block {
      flex-direction: column;
      gap: 18px;
   }
   .header__logo > strong {
      display: block;
   }
   .header__menu {
      width: 100%;
      justify-content: space-evenly;
      font-size: 14px;
   }
   .header {
      padding: 20px 0;
   }
}

@media (max-width: 479.98px) {
   .header__menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 85px;
      left: -100%;
      z-index: 4;
      background-color: #f5f7ffc7;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
      padding: 100px 0 0 30px;
      font-size: 24px;
      color: #5d6491;
      overflow: auto;
      transition: all 0.5s ease-in;
      font-weight: 700;
   }
   .header__menu > li:nth-last-child(2) {
      margin-bottom: 30px;
   }
   .header__menu > li:last-child {
      align-self: center;
   }
   .header__button {
      display: none;
   }
   .header__button.header__button--display-none {
      padding: 10px 30px;
      font-size: 20px;
      display: flex;
      align-items: center;
   }
   .header__burger {
      display: inline-block;
   }
   .header__block {
      flex-direction: row;
      justify-content: space-evenly;
      gap: 18px;
   }
   .menu-open .header__menu {
      left: 0;
      transition: all 0.5s ease-in;
   }
   .menu-open .header__burger span {
      width: 0;
   }
   .menu-open .header__burger::before {
      top: 50%;
      transform: rotate(-45deg) translateY(-1px);
      transition: all 0.4s ease;
   }
   .menu-open .header__burger::after {
      bottom: 50%;
      transform: rotate(45deg) translateY(1px);
      transition: all 0.4s ease;
   }
}

/* .....MAIN..... */

.page {
   background: url("../img/main/main-background.avif") center / cover no-repeat;
   display: flex;
   align-items: center;
   text-align: center;
}
.page__title {
   font-size: 40px;
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 1.5;
   text-transform: uppercase;
}
.menu-open .page__title {
   display: none;
}

@media (max-width: 554px) {
   .page__title {
      font-size: 30px;
   }
}

/* .....FOOTER..... */

.footer__container {
   max-width: 1118px;
}
.footer__body {
   padding-top: 49px;
   padding-bottom: 54px;
   padding-top: 49px;
   padding-bottom: 54px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.footer__body > span {
   align-self: center;
}
.footer__list-logo {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   flex-wrap: wrap;
}
.footer__list-logo > li {
   perspective: 400px;
   perspective-origin: center;
}
@media (any-hover: hover) {
   .footer__list-logo > li:hover a {
      transform: rotate3d(0, 60, 0, 360deg);
      transition: transform 1.3s ease;
   }
}
@media (max-width: 1005px) {
   .footer__list-logo {
      justify-content: center;
   }
   .footer__body {
      padding-top: 10px;
      padding-bottom: 10px;
   }
}
@media (max-width: 624px) {
   .footer__list-logo img:last-child {
      display: none;
   }
}
